.box-quiz {
    background-position: 0 -1086px;
}
.box-quiz {
    background-repeat: no-repeat;
    float: left;
    height: 54px;
    width: 347px;
}
.box-quiz {
    background-image: url("../../kenh143.vcmedia.vn/skin/homepage_box_header.gif");
    background-repeat: no-repeat;
}
.box-quiz a {  
    display: block;
    height: 100%;
    width: 100%;
}